# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Regression

on:
  schedule:
    - cron '0 0 * * 0' # weekly

jobs:
  build:
    name: ${{ matrix.os }}/${{ matrix.java_version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java_version: ["8", "11"]
        os: [ubuntu-latest, windows-latest]
        gradle_version: ["6.0.1", "6.1.1", "6.2.2", "6.3"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.java_version }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java_version }}
    - name: Cache Dependencies
      uses: actions/cache@v1
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
        restore-keys: ${{ runner.os }}-gradle 
    - name: Test ${{ matrix.gradle_version }}
      run: ./gradlew testGradle${{ matrix.gradle_version }}
    - name: Archive Codenarc Report
      uses: actions/upload-artifact@v1
      with:
        name: codenarc-results
        path: build/reports/codenarc
    - name: Archive Test Results
      uses: actions/upload-artifact@v1
      with:
        name: test-results
        path: build/reports/tests
